.body_my {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#calc_form {
  padding: 10px;
}

.wrapper_container_my {
  background-color: white;
}

.link_my {
  text-decoration: none;
  color: red;
}

.image_my {
  padding: 5px;
  transition: transform .5s;
}

.image_my:hover {
  transform: scale(1.1);
}

.link_my:hover {
  color: #A52A2A;
}

.index_headwind {
  text-decoration: none;
  background: url('../img/headwind.png') no-repeat center center;
  background-size: 47px 47px;
  padding: 5px;
}

.index_headwind:hover {
  background: url('../img/headwind_hover.png') no-repeat center center;
  background-size: 47px 47px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_slope {
  text-decoration: none;
  background: url('../img/slope.png') no-repeat center center;
  background-size: 47px 47px;
  padding: 5px;
}

.index_slope:hover {
  background: url('../img/slope_hover.png') no-repeat center center;
  background-size: 47px 47px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_isa {
  text-decoration: none;
  background: url('../img/isa.png') no-repeat center center;
  background-size: 47px 47px;
  padding: 5px;
}

.index_isa:hover {
  background: url('../img/isa_hover.png') no-repeat center center;
  background-size: 47px 47px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_prad {
  text-decoration: none;
  background: url('../img/prad.png') no-repeat center center;
  background-size: 47px 47px;
  padding: 5px;
}

.index_prad:hover {
  background: url('../img/prad_hover.png') no-repeat center center;
  background-size: 47px 47px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_fuel {
  text-decoration: none;
  background: url('../img/fuel.png') no-repeat center center;
  background-size: 47px 47px;
  padding: 5px;
}

.index_fuel:hover {
  background: url('../img/fuel_hover.png') no-repeat center center;
  background-size: 47px 47px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_airports {
  text-decoration: none;
  background: url('../img/airports.png') no-repeat center center;
  background-size: 70px 70px;
  padding: 5px;
}

.index_airports:hover {
  background: url('../img/airports_hover.png') no-repeat center center;
  background-size: 70px 70px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_dip {
  text-decoration: none;
  background: url('../img/dipswitch.png') no-repeat center center;
  background-size: 70px 70px;
  padding: 5px;
}

.index_dip:hover {
  background: url('../img/dipswitch_hover.png') no-repeat center center;
  background-size: 70px 70px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_aircraft {
  text-decoration: none;
  background: url('../img/aircraft.png') no-repeat center center;
  background-size: 115px 47px;
  padding: 5px;
}

.index_aircraft:hover {
  background: url('../img/aircraft_hover.png') no-repeat center center;
  background-size: 115px 47px;
  background-color: rgba(0, 0, 0, 0.2);
}

.index_kafelek {
  color: black;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.one_line {
  display: inline-block;
  margin: 2px;
}
